* { box-sizing: border-box; }

body {
    margin: 0;
}

.video {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
}

.video > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.splash-box {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
}

.splash-logo {
    background-image: url('https://i.imgur.com/0O46Ivt.png');
    background-size: 574px 112px;
    width: 574px;
    height: 112px;
    margin: auto;
}

.splash-text {
    margin-top: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: white;
}

.feature-section {
    position: relative;
    padding-bottom: 19.25%;
}

.feature-description {
    position: absolute;
    color: black;
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
}

.feature-wrapper {
    
    position: absolute;
    width: 50%;
    padding-bottom: 19.25%;
}

.feature-image {

    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
}

.left {
    left: 0;
}

.right {
    right: 0;
}
