* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

.splash-box {
    position: relative;
    top: 10%;
    width: 70%;
    margin: auto;
    text-align: center;
}

.splash-logo {
    background-image: url('http://gantry-1927.kxcdn.com/user/pages/02.blog/gantry-logo-competition/grav-logo.png?g-49eba685');
    background-size: 300px 90px;
    width: 300px;
    height: 90px;
    margin: auto;
}

.splash-content {
    color: white;
    background: rgba(31, 31, 31, 0.95);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    /*font-family: 'Rubik Mono One', sans-serif;*/
    /*font-family: 'Play', sans-serif;*/
}